@import 'src/stylesheets/colors.scss';
@import 'src/stylesheets/common.scss';

.auth-page {
    align-items: center;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    line-height: 24px;
    font-weight: $font-weight-semibold;

    &__title {
        font-size: $font-size-title;
        line-height: 32px;
        margin-bottom: 16px;
    }

    &__description {
        font-size: $font-size-large;
        margin-bottom: 16px;
    }

    &__input {
        background: transparent;
        border: 2px solid $input-border;
        border-radius: $border-radius;
        color: $white;
        font-size: $font-size-large;
        font-family: cursive;
        margin-bottom: 16px;
        padding: 16px;
        width: 400px;

        &:focus-visible {
            outline: none;
        }
    }

    &__button {
        border: 0;
        border-radius: $border-radius;
        color: $black;
        cursor: pointer;
        font-family: cursive;
        padding: 24px;
        width: 200px;
        font-size: $font-size-large;

        &--disabled {
            cursor: default;
        }
    }
}